{% extends 'layout.html.twig' %}


 {% block stylesheet %}
<link rel="stylesheet" href="../assets/css/page-presentation-media.css">

{% endblock %}


{% block content %}

<section id="presentation-media">
        <div class="left-side-page">
            <img src="{{ media.image_couverture }}"  alt="image de couverture" class="cover-picture">
            <p class="size-available">Etat : <i>{{ media.disponible ? "Disponible" : "Indisponible" }}</i></p>
            <p class="size-categorie">Catégorie : Livres</p>
            {#Faire un formulaire pour la réservation#}
            <form id="reservationForm" method="post">
            <input type="hidden" name="id" value="{{ media.id }}">
            <button id="reservationButton" class="{{ media.disponible ? 'style-button' : 'unavailable_btn' }}" type="submit" name="reserver">Réserver</button>
            </form>
            {# fin du formulaire#}
        </div>
        <div class="right-side-page">
            <div class="info-labels-for-title box"><p>Titre</p></div>
            <div class="info-labels-for-author box"><p>Auteur</p></div>
            <div class="info-labels-for-date box"><p>Date de parution</p></div>
            <div class="info-labels-for-description box"><p>Description</p></div>
    
            <div class="data-of-media-title box"><p>{{ media.titre }}</p></div>
            <div class="data-of-media-author box"><p>{{media.id_auteur}}</p></div>
            <div class="data-of-media-date box"><p>{{ media.published_date }}</p></div>
            <div class="data-of-media-description box"><p>{{ media.description_media }}</p></div>
        </div>
    </section>

{% endblock %}
{#
{{ media.id }}


{{ media.extract_link }}
 <section id="presentation-media">
        <div class="left-side-page">
            <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSplyOJ8CsUZ9rOCySaoUY8SmYHiqqDj6UzvPR4aY9N14aw6AZj" alt="image de couverture" class="cover-picture">
            <p class="size-available">Etat : <i>Disponible</i></p>
            <p class="size-categorie">Catégorie : Livres</p>
            <button class="style-button">Réserver</button>
        </div>
        <div class="right-side-page">
            <div class="info-labels-for-title box"><p>Titre</p></div>
            <div class="info-labels-for-author box"><p>Auteur</p></div>
            <div class="info-labels-for-date box"><p>Date de parution</p></div>
            <div class="info-labels-for-description box"><p>Description</p></div>

            <div class="data-of-media-title box"><p>Homo deus</p></div>
            <div class="data-of-media-author box"><p>Yuval Noah Harari</p></div>
            <div class="data-of-media-date box"><p>2015</p></div>
            <div class="data-of-media-description box"><p>Homo Deus : Une brève histoire de l'avenir a été publié pour la première fois en hébreu en 2015. Traduit en plusieurs langues, il est publié en traduction anglaise en 2016 et en française aux éditions Albin Michel en septembre 2017.</p></div>
        </div>
    </section>
  #}